:root {
    --primary-color: #c5ecea;
    --secondary-color: #dbe4e6;
    --font-color: #54bdb6;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


body {
    background-image: url("src/clouds.jpg");
    text-align: center;
    margin: 100px auto;
    margin-bottom: 50px;
}

.navbar {
    background-color: var(--secondary-color);
}

.navbar-brand {
    color: var(--font-color);
}

.accent {
    color: var(--font-color);
}

h1, 
h2 {
    font-family: 'Gentium Book Plus', serif;
    color: #424347;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 40px;
}

.greeting {
    font-family: 'Overpass', sans-serif;
}

h3, 
p {
    font-family: 'Overpass', sans-serif;
}

h3 {
    opacity: 55%;
    font-weight: bold;
}

.arrow {
    color: black;
    font-size: 30px;
}

p {
    color: gray;
    font-size: 22px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    text-decoration: none;
    color: #424347;
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 15px;
    box-shadow: var(--box-shadow);
    
}

.btn{
    color: #424347;
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 15px;
    box-shadow: var(--box-shadow);
}

a:hover {
    color: black;
    background-color: transparent;
}


section {
    background-color: var(--secondary-color);
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 30px;
    margin: 18px;
}

img {
    width: 400px;
    border-radius: 4px;
    padding: 18px;
    background-color: var(--primary-color);
}

@media (max-width:576px) {
    img {
        width: 280px;
    }
    .pic {
        padding-bottom: 30px;
    }
    .col-md-4 {
        margin-top: 18px;
    }
}

.email {
    font-size: 20px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}

.src {
    text-align: center;
    width: 10%;
}

.col-4 {
    font-size: 25px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.icon {
    color: black;
    font-size: 28px;
    text-align: center;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.top {
    color: var(--primary-color);
    font-weight: bold;
    position: relative;
}

footer {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: gray;
}

.open-source {
    color: var(--font-color);
    font-weight: bold;
}

.contact-section {
    padding: 20px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    font-family: 'Gentium book plus', serif;
    margin-bottom: 60px;
    box-shadow: var(--box-shadow);
}

.inquiry {
    text-decoration: none;
    color: #424347;
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 15px;
    margin-top: 20px;
}

.contacts {
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 22px;
}

@media (min-width:576px) {
    .contact-section {
        margin-left: 100px;
        margin-right: 100px;
    }
}